[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
xgboost = "*"
ydata-profiling = "*"
setuptools = "*"
pyqt6 = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
